.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 400px;
    margin-top: 10px;
   
}
input{
    border: none;
    width: 350px;
    outline: none;
}
textarea{
    width: 350px;
    border: none;
    outline: none;
    height: 100px;
}
.main_note{
    box-shadow: 10px 10px 10px rgb(230, 227, 227);
    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
}
.btn{
    display: flex;
    outline: none;
    border: none;
}

